Manifest.toml
.tmp
.DS_Store
.benchmarkci
*.o
*.swp
*.swo
*.cov
benchmark/mult
benchmark/*.json
docs/Manifest.toml
docs/build/
docs/src/index.md
NDTensors/Manifest.toml
NDTensors/test/Manifest.toml
precompile/tmp
test/data.h5
.vscode/
