*.o
*.swp
.tmp
*.cov
benchmark/mult
test/data.h5
docs/build/
precompile/tmp
.DS_Store
benchmark/*.json
.benchmarkci
.vscode/
NDTensors/test/Manifest.toml
ITensorUnicodePlots/Manifest.toml
ITensorUnicodePlots/test/Manifest.toml
ITensorMakie/Manifest.toml
ITensorMakie/test/Manifest.toml
ITensorGLMakie/Manifest.toml
ITensorGLMakie/test/Manifest.toml
ITensorVisualizationBase/Manifest.toml
ITensorVisualizationBase/test/Manifest.toml
/Manifest.toml
docs/Manifest.toml
