Manifest.toml
.tmp
.DS_Store
.benchmarkci
*.o
*.swp
*.cov
benchmark/mult
benchmark/*.json
docs/Manifest.toml
docs/build/
ITensorUnicodePlots/Manifest.toml
ITensorUnicodePlots/test/Manifest.toml
ITensorMakie/Manifest.toml
ITensorMakie/test/Manifest.toml
ITensorGLMakie/Manifest.toml
ITensorGLMakie/test/Manifest.toml
ITensorGPU/Manifest.toml
ITensorGPU/test/Manifest.toml
ITensorVisualizationBase/Manifest.toml
ITensorVisualizationBase/test/Manifest.toml
NDTensors/Manifest.toml
NDTensors/test/Manifest.toml
precompile/tmp
test/data.h5
.vscode/
