repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: check-merge-conflict
  - id: check-toml
  - id: check-yaml
  - id: trailing-whitespace
- repo: https://github.com/qiaojunfeng/pre-commit-julia-format
  rev: v0.2.0
  hooks:
  - id: julia-format
