name = "ITensors"
uuid = "9136182c-28ba-11e9-034c-db9fb085ebd5"
authors = ["Matthew Fishman <mfishman@flatironinstitute.org>",
           "Miles Stoudenmire <mstoudenmire@flatironinstitute.org>"]
version = "0.1.34"

[deps]
Compat = "34da2185-b29b-5c13-b0c7-acf172513d20"
HDF5 = "f67ccb44-e63f-5c2f-98bd-6dc0ccc4ba2f"
KrylovKit = "0b1a1467-8014-51b9-945f-bf0ae24f4b77"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
NDTensors = "23ae76d9-e61a-49c4-8f12-3f1a16adf9cf"
PackageCompiler = "9b87118b-4619-50d2-8e1e-99f35a4d4d9d"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
TimerOutputs = "a759f4b9-e2f1-59dc-863e-4aeb61b1ea8f"

[compat]
Compat = "2.1, 3"
HDF5 = "0.13.1, 0.14"
KrylovKit = "0.4.2, 0.5"
NDTensors = "= 0.1.21"
PackageCompiler = "1.0.0"
StaticArrays = "0.12.3"
TimerOutputs = "0.5.5"
julia = "1.3"
