name = "ITensors"
uuid = "9136182c-28ba-11e9-034c-db9fb085ebd5"
authors = ["Matthew Fishman <mfishman@flatironinstitute.org>", "Miles Stoudenmire <mstoudenmire@flatironinstitute.org>"]
version = "0.3.42"

[deps]
Adapt = "79e6a3ab-5dfb-504d-930d-738a2a938a0e"
BitIntegers = "c3b6d118-76ef-56ca-8cc7-ebb389d030a1"
ChainRulesCore = "d360d2e6-b24c-11e9-a2a3-2a2ae2dbcce4"
Compat = "34da2185-b29b-5c13-b0c7-acf172513d20"
Dictionaries = "85a47980-9c8c-11e8-2b9f-f7ca1fa99fb4"
DocStringExtensions = "ffbed154-4ef7-542d-bbb7-c09d3a79fcae"
Functors = "d9f16b24-f501-4c13-a1f2-28368ffc5196"
HDF5 = "f67ccb44-e63f-5c2f-98bd-6dc0ccc4ba2f"
IsApprox = "28f27b66-4bd8-47e7-9110-e2746eb8bed7"
KrylovKit = "0b1a1467-8014-51b9-945f-bf0ae24f4b77"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
LinearMaps = "7a12625a-238d-50fd-b39a-03d52299707e"
NDTensors = "23ae76d9-e61a-49c4-8f12-3f1a16adf9cf"
PackageCompiler = "9b87118b-4619-50d2-8e1e-99f35a4d4d9d"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Requires = "ae029012-a4dd-5104-9daa-d747884805df"
SerializedElementArrays = "d3ce8812-9567-47e9-a7b5-65a6d70a3065"
SimpleTraits = "699a6c99-e7fa-54fc-8d76-47d257e15c1d"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
Strided = "5e0ebb24-38b0-5f93-81fe-25c709ecae67"
TimerOutputs = "a759f4b9-e2f1-59dc-863e-4aeb61b1ea8f"
TupleTools = "9d95972d-f1c8-5527-a6e0-b4b365fa01f6"
Zeros = "bd1ec220-6eb4-527a-9b49-e79c3db6233b"
ZygoteRules = "700de1a5-db45-46bc-99cf-38207098b444"

[compat]
Adapt = "3.5"
BitIntegers = "0.2, 0.3"
ChainRulesCore = "1.10"
Compat = "2.1, 3, 4"
Dictionaries = "0.3.5"
DocStringExtensions = "0.9.3"
Functors = "0.2, 0.3, 0.4"
HDF5 = "0.14, 0.15, 0.16"
IsApprox = "0.1"
KrylovKit = "0.4.2, 0.5, 0.6"
LinearMaps = "3"
NDTensors = "0.1, 0.2"
PackageCompiler = "1.0.0, 2"
Requires = "1.1"
SerializedElementArrays = "0.1"
SimpleTraits = "0.9.4"
StaticArrays = "0.12, 1.0"
Strided = "1.1, 2"
TimerOutputs = "0.5.5"
TupleTools = "1.2"
Zeros = "0.3.0"
ZygoteRules = "0.2.2"
julia = "1.6"
