name: TestITensorVisualization
on:
  push:
    branches:
      - main
    tags: '*'
  pull_request:
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ matrix.threads }} thread(s)
    runs-on: ${{ matrix.os }}
    env:
      JULIA_NUM_THREADS: ${{ matrix.threads }}
    strategy:
      matrix:
        version:
          - '1.3'
          - '1'
          - '^1.7.0-0'
        os:
          - ubuntu-latest
          - windows-latest
          - macOS-latest
        threads:
          - '1'
          - '2'
        arch:
          - x64
        exclude:
          # MacOS not available on x86
          - {os: 'macOS-latest', arch: 'x86'}
          # Only test all os on the latest release
          - {version: '1.3', os: 'windows-latest'}
          - {version: '1.3', os: 'macOS-latest'}
          - {version: '^1.7.0-0', os: 'windows-latest'}
          - {version: '^1.7.0-0', os: 'macOS-latest'}
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@latest
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      #- uses: julia-actions/julia-buildpkg@latest
      - name: Install Julia dependencies
        shell: julia --project=monorepo {0}
        run: |
          using Pkg;
          # dev mono repo versions
          pkg"dev . ITensorVisualization"
      #- uses: julia-actions/julia-runtest@latest
      - name: Run the tests
        continue-on-error: true
        run: >
          julia --project=monorepo -e 'using Pkg; Pkg.test("ITensorVisualization", coverage=true)'
          && echo "TESTS_SUCCESSFUL=true" >> $GITHUB_ENV 
      - uses: julia-actions/julia-uploadcodecov@latest
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
